<div id="one"></div>


<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">{{ site.title }}</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/about">A propos</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">La boutique</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Les best sellers</a>
          </li>
          <li>
            <a href="#!">Espace enfants et bébés</a>
          </li>
          <li>
            <a href="#!">La mode femme</a>
          </li>
          <li>
            <a href="#!">La mode homme</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Votre espace</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/login">Se connecter</a>
          </li>
          <li>
            <a href="/register">Créer un compte</a>
          </li>
          <li>
            <a href="/account">Mon compte</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Legal</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/legal">Conditions générales de vente</a>
          </li>
          <li>
            <a href="/terms">Conditions générales d'utilisation</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <div id="userapidata"></div>

  <!-- <hr class="my-4"> -->

  <!-- Social icons -->
  <div class="pb-4">
    {% if site.youtube_link %}
    <a href="{{ site.youtube_link }}" target="_blank">
      <i class="fab fa-youtube mr-3"></i>
    </a>
    {% endif %}

    {% if site.googleplus_link %}
    <a href="{{ site.googleplus_link }}" target="_blank">
      <i class="fab fa-google-plus-g mr-3"></i>
    </a>
    {% endif %}

    {% if site.linkedin_link %}
      <a href="{{ site.linkedin_link }}" target="_blank">
        <i class="fab fa-linkedin mr-3"></i>
      </a>
    {% endif %}

    {% if site.facebook_link %}
      <a href="{{ site.facebook_link }}" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>
    {% endif %}

    {% if site.twitter_link %}
      <a href="{{ site.twitter_link }}" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>
    {% endif %}

    {% if site.dribbble_link %}
    <a href="{{ site.dribble_link }}" target="_blank">
      <i class="fab fa-dribbble mr-3"></i>
    </a>
    {% endif %}

    {% if site.pinterest_link %}
    <a href="{{ site.pinterest_link }}" target="_blank">
      <i class="fab fa-pinterest mr-3"></i>
    </a>
    {% endif %}

    {% if site.github_link %}
    <a href="{{ site.github_link }}" target="_blank">
      <i class="fab fa-github mr-3"></i>
    </a>
    {% endif %}

    {% if site.codepen_link %}
    <a href="{{ site.codepen_link }}" target="_blank">
      <i class="fab fa-codepen mr-3"></i>
    </a>
    {% endif %}
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
    &copy; Copyright {{ site.time | date: '%Y' }} :
    <a href="{{ site.url }}" target="_blank"> {{ site.url }} </a>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->