  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="{{ "/assets/mdbootstrap/js/jquery-3.4.1.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{ "/assets/mdbootstrap/js/popper.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{ "/assets/mdbootstrap/js/bootstrap.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{ "/assets/mdbootstrap/js/mdb.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <!-- React JS compenents -->
  <script type="text/javascript" src="{{ "/assets/modabyflora/reactjs/runtime-main.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script type="text/javascript" src="{{ "/assets/modabyflora/reactjs/chunk.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script type="text/javascript" src="{{ "/assets/modabyflora/reactjs/main.chunk.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <!-- Moda by FLora -->
  <script type="text/javascript" src="{{ "/assets/modabyflora/js/modabyflora.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>